@use 'base/variables' as v;
@use 'base/mixins' as m;
.slider {
    overflow: hidden;
    position: relative;
    margin-top: 3rem;
    &__slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
    &__paginacion {
        text-align: center;
        padding: .5rem 0;
    }
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}